.container {
  margin-top: 2em;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes icon-throb{
  from{
    transform: scale(1, 1);
  }

  to{
    transform: scale(1.1, 1.1);
  }
}

.throb i:hover{
  animation: icon-throb 0.5s alternate ease-out infinite;
}

h3 {
  width: 70%;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
}
h3:before, h3:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid;
}
h3:after {
  margin: 0 -55% 0 .5em;
}
span {
  display: inline-block;
  vertical-align: middle;
}

.fab{
  font-size: 8em;
  padding: 15px;
}

a i.fab {
  padding: 15px;
  color: #444;
}

a i.fab:hover {
  color: #888;
}

.img-thumbnail{
  margin: 10px;
  filter: drop-shadow(5px 5px 5px grey);
}

img.contact-img{
  transform: scaleX(-1);
}